  nav {
    text-align: center;
    border-bottom: 0.5px solid #9c9ea0;
    
  }
 
  nav ul {
    list-style: none;
  justify-content: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #a2b2cf;
    cursor: pointer;
  }