<div class="container">
    <div  class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center"></div>
            <h2>About Me</h2>
            <img src="/Test-repo-io/Test/src/assets/images/default.png" alt="Cracked" width="256" height="256" class="rounded-circle">
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center"></div>
            <h2>About Me</h2>
            <img src="/Test-repo-io/Test/src/assets/images/default.png" alt="Cracked" width="256" height="256" class="rounded-circle">
            <div>Explore fresh rewrite suggestions to diversify your language and level-up your writing. Innovative AI essay reworder helps you adjust tone and formality while retaining meaning</div>
        </div>

    </div>
</div>